{% extends 'base.html.twig' %}

{% block body %}
<h1>Stage de {{ entreprise.getNom() }}</h1>

{% for stage in entreprise.getStages() %}
<li> <a href="/stage/{{ stage.getId() }}"> Stage de {{ stage.getTitre() }} </a> </li>
{% endfor %}
</ul>

{% endblock %}
