{% extends 'base.html.twig' %}


{% block body %}
<ul>
{% for entreprise in entreprises %}
<li> <a href="/entreprises/{{ entreprise.getId() }}">{{ entreprise.getNom() }} </a> </li>
{% endfor %}
</ul>
{% endblock %}
