{% extends 'base.html.twig' %}


{% block body %}
<ul>
{% for formation in formations %}
<li> <a href="/formations/{{ formation.getId() }}">{{ formation.getNomCourt }}( {{ formation.getNomLong() }} ) </a> </li>
{% endfor %}
</ul>
{% endblock %}
